# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID="cbbksgtkimn5"
CONTENTFUL_ACCESS_TOKEN="Hgknny6-xy1ZgcEdHPJxRA1j-2NWkTEEnwwN3gMlG7Y"
